<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    /** {*/
    /*    border-style: dashed;*/
    /*}*/
</style>
<body>

<!--<h1>Job List</h1>-->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->


<nav id="nav" class="navbar fixed-top navbar-toggleable-sm ml-auto" data-spy="affix">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a href="/" class="navbar-brand">
                <img src="https://cdn2.vectorstock.com/i/1000x1000/14/21/roaring-lion-logo-king-gold-on-black-background-vector-24171421.jpg" width="30" height="30" alt=""></a>
        </nav>
        <ul class="nav ml-auto navbar-nav">
            <span><li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/add" class="nav-link">Add Job</a></li></span>
        </ul>
    </div>
</nav>

<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1567920757933-bae576b218af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80); background-size: 100%;">
    <!--    <div class="container for-about">-->
    <h1 style="text-align: center;">Craigslist Job Postings</h1>
</div>
</div>

<div class="container">
    <div class="row" style="justify-content:center;">
<!--        <div class="col-12">-->
        <div th:each="job : ${jobs}">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <!--                <li class="list-group-item">-->
                        <p th:inline="text" class="list-group-item">Title: [[${job.title}]]</p>
                        <p th:inline="text" class="list-group-item">Description: [[${job.description}]]</p>
                        <p th:inline="text" class="list-group-item">Posted Date: [[${job.postedDate}]]</p>
                        <p th:inline="text" class="list-group-item">Author: [[${job.author}]]</p>
                        <p th:inline="text" class="list-group-item">Phone: [[${job.phone}]]</p>

                    </ul>
                    <span><a th:href="@{/update/{id}(id=${job.id})}">Update</a>
                    <a th:href="@{/detail/{id}(id=${job.id})}">Details</a>
                    <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a></span>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>